.downloadContainer {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
}

.downloadContainer_left {
    position: relative;
    width: 35%;
    height: 100%;

}

.submitBtnDisable{
    border: 1px solid #e4e2e2;
    color:  #B3B3B3; 
    height: 5vh;
    width: 8vw;
    display: flex;
    border-radius: 2em;
    margin-top: 1vh;
    padding-top: 1.5vh;
    justify-content: center;
    font-family: Arial;
    font-size: 1cqw;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
}

.submitBtn {
    border: 1px solid #F36523;
    color: #F36523;
    height: 5vh;
    width: 8vw;
    display: flex;
    border-radius: 2em;
    margin-top: 1vh;
    padding-top: 1.5vh;
    justify-content: center;
    font-family: Arial;
    font-size: 1cqw;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
}

.prviewDownloadTable{
    position: relative;
    max-width: 56vw;
    max-height: 30vh;
    margin-left: 2.5%;
}

.downloadContainer_border {
    border-right: 1px solid rgb(177, 175, 175);
    height: 50vh;
}

.select_Application {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.text-select_app {
    color: #36556B;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.filternSearchSec {
    height: 10%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1vh;
}

.search_btn_sec {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
}


.downloadContainer_right {
    position: absolute;
    width: 65%;
    height: 100%;
    margin-left: 35%;
}

.text_blank {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20%;
}

.text_blank p {
    font-family: Arial;
    font-size: 2rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #36556B;
}

#checboxs label {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #36556B;
}