.normalTab5 {
  position: relative;
  left: -2vw;

}

.normalTab6{
  position: relative;
  left: -3vw;
}

.normalTab50 {
  position: relative;
  left: -2vw;

}

.normalTab40 {
  position: relative;
  left: -7.6vw;
}

.normalTab20 {
  position: relative;
  left: -4vw;

}

.normalTab30 {
  position: relative;
  left: -5.8vw;
}

.normalTab40 {
  position: relative;
  left: -7.6vw;
}