.normalTabs0 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -3vw;
  z-index: 20;
}
.normalTabs2{
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -2.3vw;
  z-index: 14;
}

.normalTabs5 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -4vw;
  z-index: 18;
}

.normalTabs6 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -2.8vw;
  z-index: 17;
}

.normalTabs1 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -2.3vw;
  z-index: 16;
}

.selectedTabs {
  position: relative;
  margin-right: -2.5vw;
  z-index: 99;
}

.normalTabs3 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -1vw;
  z-index: 10;
}