.gridContents {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.singleGrids {

    width: 8vw;
    gap: 5vw;
    height: 15vh;
    display: flex;

}

.folderIcon{
    max-width: 8vw;
    max-height: 12vh;
}

.folderImge {
    justify-content: center;
    display: flex;
    align-self: center;
}

.downloadimg {
    display: flex;
    margin-left: 0.4vw;
    margin-bottom: -2vh;
    position: relative;
    display: flex;
    margin-left: 85%;
}

.singleGrids :hover {
    background-color: #EEF6FF;
    border-radius: 2px;
}

.titlegridContents {
    position: absolute;
    margin-left: 1vw;
    font-size: 1cqw;
    max-width: 100%;
    overflow: auto;
    margin-right: 1vw;
    bottom: 0;
    display: flex;
   
margin-left: 0vw;
padding-left: 5px;
padding-right: 5px;
}
.titlegridContents::-webkit-scrollbar{
    display: none;
}