.gridContents {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.singleGrids {

    width: 8vw;
    height: 12vh;
}

.folderImge {
    justify-content: center;
    display: flex;
    align-self: center;
}

.downloadimg {
    display: flex;
    margin-left: 0.4vw;
    margin-bottom: -2vh;
    position: relative;
    display: flex;
    margin-left: 85%;
}

.singleGrids :hover {
    background-color: #EEF6FF;
    border-radius: 2px;
}

.titlegridContents {
    position: relative;
    margin-left: 1vw;
}