.downloadButton:hover {
    background-color: rgb(215, 223, 223);
}

.circleImg {
    border-radius: 50%;
    height: 2vh;
    width: 1vw;
    background-color: blue;
}

.completedText {
    color: #21A366;
}

.sourceImg{
    height: 40px;
    width: 45px;
    position: absolute;
}
.custom-image {
    height: 60px;
    width: 75px;
    position: absolute;
}


.progressContent,
.importModalBody {
    width: 88vw;
}

.notes {
    margin-left: 1.5vw;
    margin-bottom: 2vh;
}

.filesSamplebox p {
    font-size: 1.1cqw;
    width: 55%;
    display: flex;
    position: relative;
    white-space: nowrap;
}

@media (min-width:1001px) and (max-width:1300px) {
    .circleImg {
        border-radius: 50%;
        height: 1.5vh;
        margin-top: 0.2vh;
        width: 0.8vw;
        background-color: blue;
    }

    .invalidtext {
        font-size: 1cqw;
        line-height: 1rem;
        white-space: nowrap;
        margin-top: 0vh;
    }

    .fileImg {
        width: 3vw;
        height: 6vh;
        padding-top: 2vh;
    }

    .downloadbutton {
        height: 3.fvh;
        width: 2.7vw;
    }
}

@media (min-width:780px) and (max-width:1000px) {
    .circleImg {
        border-radius: 50%;
        height: 1.5vh;
        margin-top: 0.2vh;
        width: 0.8vw;
        background-color: blue;
    }

    .invalidtext {
        font-size: 1cqw;
        line-height: 1rem;
        white-space: nowrap;
        margin-top: 2vh;
    }

    .fileImg {
        width: 3vw;
        height: 6vh;
        padding-top: 2vh;
    }

    .downloadbutton {
        height: 3.2vh;
        width: 2.7vw;
    }
}

@media (min-width:380px) and (max-width:779px) {
    .circleImg {
        border-radius: 50%;
        height: 1.2vh;
        width: 0.9vw;
        margin-top: 0.5vh;
        background-color: blue;
    }

    .invalidtext {
        font-size: 0.8cqw;
        line-height: 1rem;
        margin-top: 3vh;
        white-space: nowrap;
    }

    .fileImg {
        width: 2.5vw;
        height: 5vh;
        padding-top: 4vh;
    }

    .downloadbutton {
        height: 2.8vh;
        width: 2vw;
    }

}