.fileDictionary_container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 3%;
  height: 80vh;
}

.fileDictionary_container_left {
  width: 33%;
  border-right: 1px solid #DDDDDD;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fileDictionary_container_left_dataSec {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.fileDictionary_container_left_dataSec_txt {
  font-family: Arial;
  font-size: 1cqw;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #36556B;
}

.search-inputforFile {
  background: #FFFFFF;
  height: 4.8vh;
  margin-top: 0vh;
  position: relative;
  font-size: 1.8vh !important;
  width: 16vw;
  border: 1px solid #36556B;
  border-radius: 32px;
  margin-right: 1vw;
  padding-left: 0.5vw;
}

.searchNsortsec {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fileDictionary_container_left_btn {

  position: relative;
  display: flex;
  justify-content: flex-end;

}

.isParentTableShow_divContainer {
  max-height: 40vh;
  position: relative;
  overflow: auto;
  width: 100%;
}

.isParentTableShow_divContainer::-webkit-scrollbar {
  display: none;
}

.parentTableContainer {
  height: 6vh;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #a1a2a3;

}

.parentTableContainer p {
  width: 80%;
  justify-content: center;
  align-self: center;
  overflow-x: scroll;
  padding-left: 1vw;
}

.parentTableContainer input {
  height: 2vh;
  width: 2vw;
  justify-content: center;
  align-self: center;
}

.parentTableContainer p::-webkit-scrollbar {
  display: none;
}

.collapse_scrollabalesec{
  position: relative;
  max-height: 60vh;
  overflow-y: scroll;
}

.collapse_scrollabalesec::-webkit-scrollbar {
  width: 0.8vw;
  height: 1vh;
  border-radius: 1vh;
}


.collapse_scrollabalesec::-webkit-scrollbar-thumb {
  background-color: rgba(186, 186, 186, 0.682);
  border-radius: 1vh;
}



.collapse_scrollabalesec::-webkit-scrollbar-track {
  background-color: #E5E5E5;
}

.collapse_scrollabalesec::-webkit-scrollbar-horizontal {
  height: 1vh;
  border-radius: 1vh;
}


.label {
  color: #36556B;
}

.fileDictionary_container_right {
  width: 67%;
  position: relative;
  height: 85%;
  align-items: center;
  display: flex;
  margin-left: 2.5vw;
  justify-content: center;
}


.FileDictionaryTableSecdateInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 9vh;
}

.dateInputs {
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vw;
}


.datepicker {
  border: 1px solid rgba(141, 138, 138, 0.66);
  border-radius: 0.5rem;
  padding: 0vh 1vw;
  width: 10vw;
  font-size: 1cqw;
  height: 4vh;
}

.table-container_filedict {
  max-height: 50vh;
  border: 1px solid #a1a2a3;
  border-radius: 1rem;
  position: relative;
  max-width: 57vw;
  overflow-y: scroll;
  margin: 20px;
}


.tableFile {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  min-width: max-content;
  border: 1px solid rgb(205, 202, 202);
}

.tableHeadFileTh {
  background: linear-gradient(0deg, #f36523, #f36523),
    linear-gradient(0deg, #ffffff, #ffffff);
  color: white;
  position: sticky;
  top: 0px;
  padding: 2vh;
  height: 5vh;
  border-right: 1px solid white;
  text-wrap: nowrap;
}

.tableHeadFileTh p {
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 2vw;
  color: #36556b;
  white-space: nowrap;
}

.tableBodyFileTd {
  height: 5vh;
  margin-left: 2vw;
}

.tableBodyFileTd p {
  display: flex;
  justify-content: center;
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 2vw;
  color: #36556b;
  white-space: nowrap;
}


.tableFile tr:nth-child(even) {
  background: linear-gradient(0deg, #dddddd, #dddddd),
    linear-gradient(0deg, #f6f6f6, #f6f6f6);
}

.table-container_filedict::-webkit-scrollbar {
  width: 0.7vw;
  height: 1.3vh;
  display: none;
}

.table-container_filedict::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table-container_filedict::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.scrollable-section {
  max-height: 20vh;
  overflow: scroll;
}

.scrollable-section label {
  font-size: 0.9cqw;
}

.scrollable-section::-webkit-scrollbar {
  width: 2px;
}