
.table-main-login{
    border-radius: 1rem;
    overflow: auto;
    border:1px solid #36556b;
    max-height: 50vh;
}

.tableHead_login{
    position: sticky;
    top: 0;
}
.tableBody_login {
    max-height: 50vh;
    max-width: 100%;
    margin-top: 0.5vh;
    
}

.table_login {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

.table_login th {
    color: white;
    padding: 2.5vh;
    background: linear-gradient(0deg, #f36523, #f36523),
        linear-gradient(0deg, #ffffff, #ffffff);
    height: 3vh;
    border-right: 1px solid white;
}

.table_login td {
    padding: 2.5vh;
    border-bottom: 1.5px solid #dddddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_login td p,
.table_login th p {
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 2vw;
    color: white;
}

.table_login td p {
    color: #36556b;
}


.table_login tr:nth-child(even) {
    background: linear-gradient(0deg, #dddddd, #dddddd),
        linear-gradient(0deg, #f6f6f6, #f6f6f6);
}

@media (max-width: 768px) {
    .table_login td {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .table_login th p {
        font-family: Noto Sans;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 0.9rem;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 2vw;
        color: white;
    }

    .table_login td p {
        font-family: Noto Sans;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 0.9rem;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 2vw;
        color: #36556b;
    }
}

@media (max-height: 600px) {
    .table-container_login {
        max-height: 40vh;
    }
}


.table-main-login::-webkit-scrollbar {
    width: 0.8vw;
    height: 1vh;
    border-radius: 1vh;
    display: none;
}


.table-main-login::-webkit-scrollbar-thumb {
    background-color: rgba(186, 186, 186, 0.682);
    border-radius: 1vh;
}



.table-main-login::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}

.table-main-login::-webkit-scrollbar-horizontal {
    height: 1vh;
    border-radius: 1vh;
}

.table-main-login::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(186, 186, 186, 0.682);
    border-radius: 1vh;
}
/* #buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -2vh;
} */