.overalTabs {
  width: 100%;
  height: 8vh;
  margin-top: 4vh;
  padding-left: 4vw;
  display: flex;
  justify-content: space-between;
}

.mainTabs {
  display: flex;
  height: 5vh;
  max-width: 60%;
}

.searchDiv {
  height: 5vh;
}

.normalTab0,
.normalTab1,
.normalTab2 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -2.3vw;
  z-index: 15;
}

.normalTab1 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: -2.3vw;
  z-index: 18;
}

.selectedTab {
  position: relative;
  margin-right: -2.5vw;
  z-index: 99;
}

.search-inputforHome {
  background: #FFFFFF;
  height: 4.8vh;
  margin-top: 0vh;
  position: relative;
  font-size: 1.8vh !important;
  width: 16vw;
  border: 2px solid #FFA000;
  border-radius: 32px;
  margin-right: 1vw;
  padding-left: 0.5vw;
}

.requestAccessBtn {
  margin-left: 1vw;
  width: 13vw;
  height: 4.8vh;
  background: linear-gradient(180deg, #F8A716 0%, #E75126 100%);
  border-radius: 32px;
  border: none;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 2vh;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.gridViewDiv {
  cursor: pointer;
  margin-left: 0vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  top: -1.5vh;
  position: relative;
}

.endingDIv {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding-right: 2vw;
}