.singleRow {
    color: #063E67;
    font-family: Noto Sans;
    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 8vh;
}


.nameDiv {
    display: flex;
    align-self: center;
    align-items: center;
    vertical-align: middle;
}

.sourceImg {
    height: 7vh;
    width: 5vw;
}